body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  background: #f2f6e9;
}

/*--- navigation bar ---*/

.navbar {
  background: #6ab446;
}

.nav-link,
.navbar-brand {
  color: #fff;
  cursor: pointer;
}

.nav-link {
  margin-right: 1em !important;
}

.nav-link:hover {
  color: #000;
}

.navbar-collapse {
  justify-content: flex-end;
}

/*--- footer ---*/
.page-footer {
  background-color: #222;
  color: #ccc;
  padding: 40px 0 30px;
}
